In [4]:
stations=pd.read_csv('stations.csv')

In [43]:
stations[stations['Pincode'].str.isnumeric()==False]

,Station Names,Station Codes,Latitude,Longitude,Pincode
699,BANTVA,BATA,21.4915° N,70.0771° E,362620
1002,BHAKTI NAGAR,BKNG,22.2668° N,70.8090° E,734007
1290,BMBY MAHIM JN,MM,NaN,NaN,400016
1425,C SHIVAJI MAH T,CSTM,NaN,NaN,"Pincode 0\nName C SHIVAJI MAH T, dtype object"
1426,C SHIVAJI MAH T,CSMT,NaN,NaN,"Pincode 0\nName C SHIVAJI MAH T, dtype object"
2005,DEWANGANJ,DWG,23.4262° N,77.5777° E,735122
2565,GHOTI,GO,22.9194° N,72.6499° E,422402
2778,GWALIOR,GWO,26.2183° N,78.1828° E,"Pincode 0\nName GWALIOR, dtype object"
2779,GWALIOR,GWL,26.2183° N,78.1828° E,"Pincode 0\nName GWALIOR, dtype object"
2974,HITNAL,HTNL,15.3310° N,76.3128° E,583234
3786,KATHARA ROAD,KTRR,26.3099° N,80.2287° E,813213
4142,KOLKATA,CP,22.5726° N,88.3639° E,"Pincode 0\nName KOLKATA, dtype object"
4143,KOLKATA,KOAA,22.5726° N,88.3639° E,"Pincode 0\nName KOLKATA, dtype object"
4563,LUCKNOW ALAMBGH,AMV,26.8128° N,80.9014° E,226005
4768,MALHOUR,ML,26.8585° N,81.0406° E,226028
6609,ROSHAN MAU,RMW,26.4744° N,79.9556° E,209303
6646,S HIRDARAMNAGAR,BIH,23.2738° N,77.3359° E,"Pincode 0\nName S HIRDARAMNAGAR, dtype object"
6647,S HIRDARAMNAGAR,SHRN,23.2738° N,77.3359° E,"Pincode 0\nName S HIRDARAMNAGAR, dtype object"
7307,SOLAPUR JN,SURM,17.6646° N,75.8934° E,"Pincode 0\nName SOLAPUR JN, dtype object"
7308,SOLAPUR JN,SUR,17.6646° N,75.8934° E,"Pincode 0\nName SOLAPUR JN, dtype object"
7371,SRINAGAR,SINA,34.0837° N,74.7973° E,"Pincode 0\nName SRINAGAR, dtype object"
7372,SRINAGAR,SNAR,34.0837° N,74.7973° E,"Pincode 0\nName SRINAGAR, dtype object"
7766,TIRUNELVELI TWN,TYT,8.7248° N,77.6874° E,627006
7833,TROMBAY,TMBY,19.0093° N,72.8984° E,400088
8199,VISHVAMITRI,VS,NaN,NaN,"Pincode 0\nName VISHVAMITRI, dtype object"
8200,VISHVAMITRI,VSI,NaN,NaN,"Pincode 0\nName VISHVAMITRI, dtype object"

In [28]:
lost=pd.read_csv('pincodesLost.csv',index_col=False)

In [33]:
lost.head(10)

                Pincode
Name
ABOHAR           152116
ADESAR           370155
ADRSH NGR DELHI  110033
AGASTIYAMPALLI        0
AJAKOLLU         509110
AJANTI           445102
AJWA                  0
ALAL                  0
ALAPADU          521340
ALGAWAN               0

In [32]:
lost.set_index('Name',inplace=True)

In [17]:
stations=pd.concat([stations,pincode],axis=1)

In [20]:
stations[stations['Pincode']==0].Pincode.value_counts()

0    1107
Name: Pincode, dtype: int64

In [37]:
def filll(row):
    if row['Pincode']==0:
        row['Pincode']=lost.loc[row['Station Names'],['Pincode']].iloc[0]
    return row
stations=stations.apply(filll,axis=1)

In [42]:
def clean(row):
    row['Pincode']=str(row['Pincode']).replace("-","")
    row['Pincode']=str(row['Pincode']).replace(":","")
    row['Pincode']=str(row['Pincode']).replace("ZIP Code is","")
    row['Pincode']=str(row['Pincode']).replace("ZIP Code","")
    row['Pincode']=str(row['Pincode']).replace("is","")
    return row
stations=stations.apply(clean,axis=1)

In [45]:
stations.to_csv('finalpincodes.csv')

In [19]:
stations.head(10)

     Station Names Station Codes    Latitude   Longitude Pincode
0    A N DEV NAGAR          ACND  26.7753° N  82.1575° E  224001
1            ABADA           ABB  22.5488° N  88.2035° E  711313
2         ABHAIPUR           AHA  25.2167° N  86.3206° E  811112
3      ABHANPUR JN           AVP  21.0529° N  81.7441° E  493661
4  ABHAYAPURI ASAM           AYU  26.3589° N  90.6485° E  783384
5           ABOHAR           ABS  30.1469° N  74.2008° E       0
6         ABU ROAD           ABR  24.4641° N  72.7718° E  307026
7          ABUTARA           ABW  26.0623° N  89.5301° E  736168
8          ACHALDA           ULD  26.7155° N  79.4165° E  206241
9        ACHALGANJ           ACH  26.4410° N  80.5445° E  209801

In [10]:
def filll(row):
    

stations=stations.apply()

False    7333
True     1026
Name: Pincode, dtype: int64

WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://sites.google.com/a/chromium.org/chromedriver/home