In [63]:
stations=pd.read_csv('stations.csv')

In [71]:
stations.head(10)

     Station Names Station Codes    Latitude   Longitude Pincode
0    A N DEV NAGAR          ACND  26.7753° N  82.1575° E  224001
1            ABADA           ABB  22.5488° N  88.2035° E  711313
2         ABHAIPUR           AHA  25.2167° N  86.3206° E  811112
3      ABHANPUR JN           AVP  21.0529° N  81.7441° E  493661
4  ABHAYAPURI ASAM           AYU  26.3589° N  90.6485° E  783384
5           ABOHAR           ABS  30.1469° N  74.2008° E       0
6         ABU ROAD           ABR  24.4641° N  72.7718° E  307026
7          ABUTARA           ABW  26.0623° N  89.5301° E  736168
8          ACHALDA           ULD  26.7155° N  79.4165° E  206241
9        ACHALGANJ           ACH  26.4410° N  80.5445° E  209801

In [65]:
pincode=pd.read_csv('pincodes.csv')

In [69]:
pincode.head(10)

  Pincode
0  224001
1  711313
2  811112
3  493661
4  783384
5       0
6  307026
7  736168
8  206241
9  209801

In [68]:
def strtonum(row):
    if not str(row['Pincode']).isnumeric():
        row=0
    return row


pincode=pincode.apply(strtonum,axis=1)

In [70]:
stations=pd.concat([stations,pincode],axis=1)

In [36]:
stations[stations['Pincode']==0].Pincode.value_counts()

0    1107
Name: Pincode, dtype: int64

In [83]:
def filter(row):
    if row['Pincode']==0:
        return row['Station Names']
    else:
        return None

city=stations.apply(filter,axis=1)

In [90]:
# city.fillna(value=pd.np.nan, inplace=True)
# city.dropna(inplace=True)
city.head(10)

5               ABOHAR
21              ADESAR
40     ADRSH NGR DELHI
47      AGASTIYAMPALLI
77            AJAKOLLU
78              AJANTI
90                AJWA
116               ALAL
122            ALAPADU
130            ALGAWAN
dtype: object

In [32]:
stations.head(10)

     Station Names Station Codes    Latitude   Longitude Pincode
0    A N DEV NAGAR          ACND  26.7753° N  82.1575° E  224001
1            ABADA           ABB  22.5488° N  88.2035° E  711313
2         ABHAIPUR           AHA  25.2167° N  86.3206° E  811112
3      ABHANPUR JN           AVP  21.0529° N  81.7441° E  493661
4  ABHAYAPURI ASAM           AYU  26.3589° N  90.6485° E  783384
5           ABOHAR           ABS  30.1469° N  74.2008° E     NaN
6         ABU ROAD           ABR  24.4641° N  72.7718° E  307026
7          ABUTARA           ABW  26.0623° N  89.5301° E  736168
8          ACHALDA           ULD  26.7155° N  79.4165° E  206241
9        ACHALGANJ           ACH  26.4410° N  80.5445° E  209801

In [10]:


stations=stations.apply()

False    7333
True     1026
Name: Pincode, dtype: int64

WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://sites.google.com/a/chromium.org/chromedriver/home

In [93]:
city.head()

5              ABOHAR
21             ADESAR
40    ADRSH NGR DELHI
47     AGASTIYAMPALLI
77           AJAKOLLU
dtype: object

In [95]:
city=pd.DataFrame(city)

In [96]:
type(city)

pandas.core.frame.DataFrame

In [97]:
city.to_csv('lost.csv')